<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
    <div class='bold-line'></div>
<div class='login-form container'>
  <form method="POST">
    <div class="window">
      <div class='overlay'></div>
      <div class="content">
        <div class='welcome'>Hello There!</div>
        <div class='subtitle'>We're almost done. Before using our services you need to create an account.</div>
        <div class=" input-fields">
          <!-- <label for="exampleInputEmail1">Email address</label> -->
          <input type="email" name='email' class="form-control input-line full-width" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name='password' class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div>
        <button type="submit" class="btn btn-primary ghost-round full-width">Log In</button>
      </div>
    </div>
  </form>
</div>

<!-- <div class='bold-line'></div>
  <div class='container'>
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Hello There!</div>
        <div class='subtitle'>We're almost done. Before using our services you need to create an account.</div>
        <div class='input-fields'>
          <input type='text' placeholder='Username' class='input-line full-width'></input>
          <input type='email' placeholder='Email' class='input-line full-width'></input>
          <input type='password' placeholder='Password' class='input-line full-width'></input>

        </div>
        <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div>
        <div><button class='ghost-round full-width'>Create Account</button></div>
      </div>
    </div>
  </div> -->

</body>
</html>